body {
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.form-container-form-div {
  display: flex;
  max-width: 50rem;
  max-height: 75vh;
  gap: 3rem;
  overflow-y: scroll;
  margin-top: 5rem;
  overflow-x: hidden;
  background-color: ghostwhite;
}

.form-container-form-div-userDetails {
  flex: 1;
  padding: 2rem;
}

.form-container-form-div-imageDiv {
  flex: 1;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.form-container-form-div-imageDiv-image {
  width: -webkit-fill-available;
}
