body {
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  align-items: center;
}

.form-container-form-div {
  display: flex;
  max-width: 50rem;
  max-height: 75vh;
  gap: 3rem;
  overflow-y: scroll;
  margin-top: 5rem;
  overflow-x: hidden;
  background-color: ghostwhite;
  box-shadow: 0px 0px 17px 4px rgba(148, 148, 148, 0.85);
  -webkit-box-shadow: 0px 0px 17px 4px rgba(148, 148, 148, 0.85);
  -moz-box-shadow: 0px 0px 17px 4px rgba(148, 148, 148, 0.85);
}

.form-container-form-div-userDetails {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container-form-div-imageDiv {
  flex: 1;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.form-container-form-div-imageDiv-image {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.form-container-form-contactDetails-inputs,
.form-container-form-address-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.form-container-form-contactDetails-inputs-input,
.form-container-form-address-inputs-input {
  border: none;
  border-bottom: 1px solid lightgray;
  background: transparent;
}

.form-container-form-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.form-container-form-buttons-button {
  border: none;
  border-radius: 0.3rem;
  background-color: purple;
  color: white;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
